name: Build & Release

permissions:
  actions: read
  pull-requests: write
  security-events: write
  contents: write
  checks: write

on:
  push:
    branches: [ "**" ]
    tags: [ "**" ]
  workflow_dispatch:
  merge_group:

env:
  build-version-number: 0.0.${{ github.run_number }}  
  docker-image-name: ghcr.io/tonycknight/microbroker
  
jobs:
  sca:
    name: SCA
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v4
              
      - name: pkgchk
        uses: tonycknight/pkgchk-action@v1
        with: 
          scan-issues: true
          scan-upgrades: true
          vulnerable: true
          deprecated: true
          transitives: true
    
  
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v4
              
      - name: Run build
        run: |
            dotnet tool restore
            dotnet build -c Release

  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v4
                      
      - name: Tests
        run: |
          dotnet tool restore
          dotnet test -c Debug --logger "trx;LogFileName=test_results.trx" /p:CollectCoverage=true /p:CoverletOutput=./TestResults/coverage.info /p:CoverletOutputFormat=cobertura

      - name: Consolidate code coverage
        run: |
          dotnet reportgenerator -reports:"./tests/**/coverage.info" -targetdir:"./publish/codecoverage" -reporttypes:"Html"
          dotnet reportgenerator -reports:"./tests/**/coverage.info" -targetdir:"./publish/codecoveragedata" -reporttypes:"Cobertura"

      - name: Archive Test results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: Unit_tests_results
          path: |
            ./tests/**/TestResults/*
            
      - name: Archive Code coverage
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: Full_code_coverage_report
          path: ./publish/codecoverage/*.*
                    
      - name: Unit test results
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: Unit test results
          path: ${{ github.workspace }}/tests/*.tests.unit/TestResults/test_results.trx
          reporter: dotnet-trx
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Code coverage summary
        uses: 5monkeys/cobertura-action@master
        if: always()
        with:
          path: ${{ github.workspace }}/publish/codecoveragedata/Cobertura.xml
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          minimum_coverage: 0
          fail_below_threshold: true
          show_line: true
          show_branch: true
          show_missing: true
          show_class_names: true
          skip_covered: false
          link_missing_lines: true
          report_name: Code coverage summary

  build-publish-docker-image:
    name: Build & Publish docker image
    runs-on: ubuntu-latest
    needs:   [ build, tests, sca ]

    steps:
      - uses: actions/checkout@v4
      
      - name: Set BuildVersion
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
        run: |
          run: echo "build-version-number=$(git describe --tags --dirty)" >> $GITHUB_ENV

      - name: Report version
        run: echo "Building package ${{ env.build-version-number }}" >> $GITHUB_STEP_SUMMARY

      - name: Set Docker image name
        run: |
          echo "docker-image-name=${{ env.docker-image-name }}:v${{ env.build-version-number }}" >> $GITHUB_ENV
                  
      - name: Build docker image
        run: docker build -f Dockerfile -t ${{ env.docker-image-name }} --build-arg BuildVersion=${{ env.build-version-number }} .

      - name: Login to GitHub Container Registry
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR }}

      - name: Push docker image
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
        run: docker push ${{ env.docker-image-name }}
