name: "Scheduled SCA"

permissions:
  actions: read
  pull-requests: write
  security-events: write
  contents: write
  checks: write

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      username:
        required: false
        type: string
    secrets:
      token:
        required: false

jobs:
  sca:
    name: Scheduled SCA
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
                
      - name: SCA
        uses: tonycknight/pkgchk-action@v1
        with: 
          scan-issues: true
          scan-upgrades: true
          vulnerable: true
          deprecated: true
          transitives: true
    
    
